<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <?!= include('Styles'); ?>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <ul class="list-group calendar-list">
              <li class="list-group-item title">Your Calendars</li>
              <li class="list-group-item loader" v-if="calendars.length == 0">
                <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading
              </li>
              <li
                v-for="(calendar, index) in calendars"
                :key="index"
                class="list-group-item list-calendar-item"
                :class="{ active: index == selectedCalendarIndex }"
                :style="{ borderLeftColor: calendar.color }"
                @click="selectCalendar(index)">
                <i class="fa fa-star-o" aria-hidden="true" v-if="calendar.primary"></i>
                {{ calendar.name }}
              </li>
            </ul>
          </div>
          <div class="col-9">
            <div class="card filter-card">
              <div class="card-header">
                Filter Options
              </div>
              <div class="card-body">
                <form class="filter-form">
                  <div class="form-group">
                    <label for="calendar-name" class="filter-form-label">Calendar</label>
                    <div class="filter-form-value">
                      <input type="text" readonly class="form-control" id="calendar-name" v-model="currentCalendarName">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="search-text" class="filter-form-label">Title</label>
                    <div class="filter-form-value">
                      <input type="text" class="form-control" id="search-text" v-model.trim="filterForm.title">
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <label for="colors-multiselect" class="filter-form-label">Colors</label>
                    <div class="filter-form-value">
                      <multiselect
                        id="colors-multiselect"
                        class="multiselect"
                        :options="eventColors"
                        :searchable="true"
                        :multiple="true"
                        placeholder="Select event colors"
                        label="name"
                        track-by="value"
                        :close-on-select="false"
                        v-model="filterForm.colors">
                        <template slot="option" scope="props">
                          <div class="multiselect-color-label" :style="{ backgroundColor: props.option.color }"></div>{{ props.option.name }}
                        </template>
                        
                        <template slot="tag" scope="props">
                          <span class="multiselect__tag" :style="{ backgroundColor: props.option.color }">
                            {{ props.option.name }}
                            <i aria-hidden="true" tabindex="1" @click="props.remove(props.option)" class="multiselect__tag-icon"></i>
                          </span>
                        </template>
                      </multiselect>
                    </div>
                  </div>
                    
                  <div class="form-group">
                    <label for="start-date" class="filter-form-label">Start</label>
                    <div class="filter-form-value input-group">
                      <input type="text" class="form-control" id="start-date" v-model.number="filterForm.weeksBefore">
                      <span class="input-group-addon">weeks ago</span>
                    </div>
                  </div>
                    
                  <div class="form-group">
                    <label for="end-date" class="filter-form-label">End</label>
                    <div class="filter-form-value">
                      <input type="text" readonly class="form-control" id="end-date" value="Today">
                    </div>
                  </div>
                </form>
                
                <button class="btn btn-link" @click="toggleAdvanced">Advanced <i class="fa" :class="{ 'fa-angle-down': !advancedVisible, 'fa-angle-up': advancedVisible }" aria-hidden="true"></i></button>
                <button class="btn btn-primary" @click="onPressSearch">Search</button>
              </div>
              <div class="card-body" v-if="advancedVisible">
                <h6 class="card-subtitle text-muted">Title</h6>
                <p>
                  You can select multiple strings to search for in the title by seperating them with an <code>OR</code>! For example, <code>work OR freelance</code> will find events with work or freelance in the title!
              </div>
            </div>
            
            <div class="alert alert-primary" role="alert" v-if="timeSpent != -1">
              <b>Result:</b> {{ timeSpentParsed }}
            </div>
            
            <h4 v-if="timeSpent > 0">Found {{ events.length }} events!</h4>
            
            <ul class="list-group">
              <li 
                v-for="(event, index) in events"
                :key="index"
                class="list-group-item list-event-item"
                :style="{ borderLeftColor: event.color != '' ? getColor(event.color) : currentCalendarColor }">
                <h5 class="card-title">{{ event.title }}</h5>
                <small class="text-muted">{{ getDate(event.start) }} &middot; {{ getTime(event.start) }} - {{ getTime(event.end) }} &middot; {{ event.length }} {{ event.length != 1 ? 'hours' : 'hour'  }}</small>
                <p v-if="event.description">{{ event.description }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <?!= include('Javascript'); ?>
  </body>
</html>


